<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FaceIDAppVBEta.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FaceIDAppVBEta.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <FaceIDAppVBEta.Properties.Settings>
            <setting name="ServerIP" serializeAs="String">
                <value />
            </setting>
        </FaceIDAppVBEta.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <FaceIDAppVBEta.Properties.Settings>
            <setting name="IsClient" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ServerPort" serializeAs="String">
                <value>9999</value>
            </setting>
            <setting name="ClientPort" serializeAs="String">
                <value>29999</value>
            </setting>
            <setting name="TestPort" serializeAs="String">
                <value>19999</value>
            </setting>
            <setting name="ServiceName" serializeAs="String">
                <value>DataController</value>
            </setting>
        </FaceIDAppVBEta.Properties.Settings>
    </applicationSettings>
</configuration>